.nav{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1.6rem 7rem;
    background-color: var(--nav-color);
    align-items: center;
}

.nav img{
    display: flex;
    justify-content: flex-start;
}

.nav-list a {
    transition: .3s;
    text-decoration: none;
    padding: 0 3.3rem;
    color: #92AAFF;
    font-weight: 500;
    font-size: 1rem;
}

.nav-list a:hover{
    color: #7088DD;
    transition: .3s;
}

.btn-sign-up{
    background-color: #92AAFF;
    padding: 1rem 1.8rem;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    transition: .3s;
    margin-left: 4rem;
    color: var(--nav-color);
}

.btn-sign-up:hover{
    background-color: var(--roxo-escuro);
    transition: .5s;
    color: #000;
}