:root{
  --background-color: #0A0A0A;
  --nav-color : #111111;
  --btn-color: #92AAFF;
  --roxo-escuro: #7088DD;
  --preto: #000;
  --branco: #fff;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;;
}

body{
  background-color: #0A0A0A;
}